In [35]:
# Import pandas
import pandas as pd

# Read the csv file and store it in a DataFrame
schools = pd.read_csv("schools.csv")

# Preview the data
print(schools.head())

# NYC schools that have best math results in descending order of math results
best_math_schools = schools.loc[schools["average_math"] >= 640,["school_name","average_math"]]
best_math_schools = best_math_schools.sort_values("average_math",ascending = False)
print(best_math_schools)

# Total SAT score of each school
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Top 10 performing schools in NYC based on combined SAT results in descending order of SAT score
top_10_schools = schools[["school_name","total_SAT"]].sort_values("total_SAT",ascending = False).iloc[0:10]
print(top_10_schools)

# Grouping schools by boroughs and caculating mean and std on their combined SAT score
total_sat_by_borough = schools.groupby("borough")["total_SAT"].agg(["mean","std"])

# Borough with largest standard deviation in combined SAT score
borough = total_sat_by_borough[total_sat_by_borough["std"] == max(total_sat_by_borough["std"])].index[0]

# Number of schools by borough
num_of_schools_by_borough = schools.groupby("borough")["school_name"].count()

# Number of schools in this borough
num_of_schools = num_of_schools_by_borough[borough]

# Average SAT score in this borough
average_sat_in_borough = total_sat_by_borough.loc[borough,"mean"]

# std of SAT score in this borough
total_sat_in_borough = total_sat_by_borough.loc[borough,"std"]

# DataFrame for borough with largest standard deviation in combined SAT score
largest_std_dev = pd.DataFrame({"borough" : [borough],"num_schools" : [num_of_schools], "average_SAT" : [average_sat_in_borough], "std_SAT" : [total_sat_in_borough]})
largest_std_dev.reset_index(drop = True, inplace = True)
largest_std_dev = largest_std_dev.round(2)
print(largest_std_dev)

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29